/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}
h2 {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 40px;
    background-color: #9C976A;
  }
}
.container .header nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #654F3B;
  padding: 15px 0 0;
}
@media (max-width: 500px) {
  .container .header nav {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-color: transparent;
    padding: 0 60px 0;
    margin-left: 40px;
  }
  .container .header nav a {
    margin-bottom: 10px;
  }
}
.container a {
  font-family: san-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  color: #EDDFB0;
  margin-right: 40px;
}
.container a:hover {
  color: #000000;
}
@media (max-width: 500px) {
  .container a:hover {
    color: #000000;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
.container button {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #654F3B;
  border: 2px solid #EDDFB0;
  color: #EDDFB0;
}
.container button:hover {
  color: #EDDFB0;
  background-color: #9C976A;
}
.container .header h1 {
  text-align: center;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .cooking {
    margin-left: 20px;
  }
}
.container {
  width: 800px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}
.container .main-content {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 4px solid #594236;
}
@media (max-width: 500px) {
  .container .main-content {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}
.container .main-content .cookbook {
  padding: 60px 10px 20px;
  border: 0 10px solid #97a1a5;
  margin-right: 60px;
}
.container .main-content .top-text h2 {
  margin-top: 20px;
  margin: 20px;
  margin-right: 20px;
  font-size: 1.25rem;
  color: #4b719c;
}
.container .main-content .top-text p {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px;
  margin-right: 40px;
  margin-top: 20px;
  color: #594236;
  font-weight: none;
  width: 400px;
}
@media (max-width: 500px) {
  .container .main-content .top-text p {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.container .middle-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: space-evenly;
  border-bottom: 4px solid #594236;
}
.container .middle-text h2 {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 1.25rem;
  color: #4b719c;
}
.container .middle-text p {
  margin-top: 20px;
  width: 800px;
}
@media (max-width: 500px) {
  .container .middle-text p {
    width: 100%;
    color: #594236;
  }
}
.container .middle-content .shared-recipes {
  margin-right: 60px;
}
@media (max-width: 500px) {
  .container .middle-content .shared-recipes {
    width: 98%;
    padding: 0 15px;
    margin-right: 40px;
    justify-content: center;
  }
}
.container .shared-secrets h2 {
  font-size: 1.25rem;
  color: #4b719c;
  margin: 20px;
  font-weight: bold;
}
.container .bottom-content {
  display: flex;
  flex-direction: row;
  text-align: center;
}
@media (max-width: 500px) {
  .container .bottom-content {
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 80px;
  }
}
.container .bottom-content img {
  border-radius: 50px;
  font-size: 80%;
  padding-bottom: 0.5rem;
  margin: 0 25px;
}
@media (max-width: 500px) {
  .container .bottom-content img {
    margin-top: 20px;
  }
}
.container .bottom-content p {
  margin: 5px 20px;
}
@media (max-width: 500px) {
  .container .bottom-content a {
    text-align: center;
    margin-left: 40px;
  }
}
.container .final-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 500px) {
  .container .final-content {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
    color: #594236;
  }
}
.container .last-text {
  padding: 0 10px 0;
  width: 67.5rem;
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .container .last-text {
    width: 100%;
    margin-bottom: -5px;
  }
}
.container .personal {
  border-top: 4px solid #594236;
  margin-top: 20px;
}
.container .personal h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px;
  margin-top: 20px;
  color: #4b719c;
}
.container .about-page h1 {
  margin-top: 10px;
  font-size: 2.5rem;
  color: #4b719c;
  padding: 10px 40px;
  text-align: center;
}
.container .about-page p {
  font-size: 1.25rem;
  color: #594236;
}
.container .myteam {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.container .pic {
  margin-bottom: 40px;
  margin: 10px;
}
.container .pic img {
  text-align: center;
  margin-left: 80px;
}
.container .pic p {
  padding: 40px 0;
  color: #594236;
  font-weight: bold;
  width: 350px;
  margin-left: 60px;
}
.container .pic h3 {
  font-size: 2rem;
  color: #4b719c;
  text-align: center;
}
.container .pic p a {
  color: #594236;
}
.container .shared-samples h1 {
  font-size: 2rem;
}
.container .top-foods {
  text-align: center;
}
.container .top-foods h2 {
  color: #4b719c;
  margin-top: 20px;
  font-size: 2rem;
}
.container .food-types a {
  color: #594236;
  font-size: 1rem;
}
.container .bottom-content a {
  margin-bottom: 20px;
  text-align: center;
}
.container .flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.container .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.container .flip-card-front,
.container .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.container .flip-card-front {
  background-color: #97a1a5;
  color: black;
}
.container .flip-card-back {
  background-color: #654F3B;
  color: #EDDFB0;
  transform: rotateY(180deg);
}
.container .flip-card-back h1,
.container h3 {
  color: #EDDFB0;
  font-weight: bold;
  padding: 0 20px;
}
.container .flip-card-back p {
  font-size: 0.9rem;
  padding: 20px;
}
.container .flip-card-back h1 {
  font-size: 1.5rem;
}
.footer-content h4 {
  font-size: 20px;
  font-weight: bold;
  color: #594236;
  margin-top: 18px;
  margin-left: 5px;
  font-family: 'Goudy Old Style', sans-serif;
}
.footer-content nav {
  display: flex;
  justify-content: center;
  background-color: #654F38;
  margin-top: 50px;
}
.footer-content a {
  font-family: san-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: #EDDFB0;
  margin-right: 40px;
}
.footer-content a:hover {
  color: #654F3B;
}
.copyright {
  text-align: center;
  margin-left: 100px;
  color: #EDDFB0;
}
@media (max-width: 500px) {
  .footer-content nav {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .footer-content nav a {
    color: black;
  }
  .footer-content nav .copyright {
    color: black;
    margin-top: 30px;
    margin-right: 90px;
  }
}
