.container{
    width: 100%;
    margin: 0 auto;
    }
button{
.rounded-out;    
font-size: 1.2rem;
margin-bottom: 15px;
background-color: @brunt;
border:2px solid @blush;
color: @blush;
margin: 0 auto;
}
button:hover {
    color: @blush;
    background-color: @lightpea;
  }
.header h1{
   text-align: center;
    font-size: 2rem;
    color: @shadow;
    margin-bottom: 20px;
    margin-top: 10px;
 }
    .cooking{
    margin-top: 20px;
    } 