.container{
    width: 800px;
    margin: 0 auto;
}
.main-content {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 4px solid #594236;
    margin-left: 40px;
  
  }
  .main-content .cookbook {
    padding: 60px 10px 20px;
    border: 0 10px solid #97a1a5;
    margin-right: 60px;
  }
  .main-content .top-text h2 {
    margin-top: 20px;
    margin: 20px;
    margin-right: 20px;
    font-size: 1.25rem;
    color: #4b719c;
  }
  .main-content .top-text p {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    margin-right: 20px;
    margin-top: 20px;
    color: #594236;
    font-weight: none;
    width: 350px;
  }
  .middle-content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-evenly;
    border-bottom: 4px solid #594236;
  }
  .middle-text h2 {
    margin-top: 20px;
    
    margin-right: 20px;
    font-size: 1.25rem;
    color: #4b719c;
  }
  .middle-text p {
    color: #594236;
    margin-top: 20px;
    width: 800px;
  }
  .middle-content .shared-recipes {
    margin-right: 60px;
  }
  .shared-secrets h2 {
    font-size: 1.25rem;
    color: #4b719c;
    margin: 40px;
    font-weight: bold;
  }
  .bottom-content {
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #594236;
  }
  .bottom-content img {
    border-radius: 50px;
    font-size: 80%;
    padding-bottom: 0.5rem;
    margin: 0 25px;
  }
  .bottom-content p {
    margin: 5px 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  .final-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }
  .last-text {
    padding: 0 10px 0;
    width: 67.5rem;
    margin-bottom: 60px;
  }
  .personal h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px;
    margin-top: 20px;
    color: #4b719c;
  }