.container{
    width: 800px;
    margin: 0 auto;
    @media @mobile{
        width: 100%;
        padding: 0 40px;
    }
.main-content {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 4px solid #594236;
    @media @mobile{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    }
   
  }
  .main-content .cookbook {
    padding: 60px 10px 20px;
    border: 0 10px solid #97a1a5;
    margin-right: 60px;
  }
  .main-content .top-text h2 {
    margin-top: 20px;
    margin: 20px;
    margin-right: 20px;
    font-size: 1.25rem;
    color: #4b719c;
  }
  .main-content .top-text p {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
    margin-right: 40px;
    margin-top: 20px;
    color: #594236;
    font-weight: none;
    width: 400px;
    @media @mobile{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        }
  }
  .middle-content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-evenly;
    border-bottom: 4px solid #594236;
    
  }
  .middle-text h2 {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1.25rem;
    color: #4b719c;
  }
  .middle-text p {
    margin-top: 20px;
    width: 800px;
    @media @mobile{
        width: 100%;
       color: #594236; 
    }
  }
  .middle-content .shared-recipes {
    margin-right: 60px;
    @media @mobile{
        width: 98%;
        padding: 0 15px;
        margin-right: 40px;
        justify-content: center;
        }
  }
  .shared-secrets h2 {
    font-size: 1.25rem;
    color: #4b719c;
    margin: 20px;
    font-weight: bold;
  }
  .bottom-content {
    display: flex;
    flex-direction: row;
    text-align: center;
    @media @mobile{
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 80px;
             }
         } 
  
  .bottom-content img {
    border-radius: 50px;
    font-size: 80%;
    padding-bottom: 0.5rem;
    margin: 0 25px;
    @media @mobile{
        margin-top: 20px;
        }
  }
  .bottom-content p {
    margin: 5px 20px;
  }
  @media @mobile{
    .bottom-content a{
     text-align: center;
     margin-left: 40px;
    }
} 
  .final-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    @media @mobile{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
    color: #594236;
         }
     } 
  
  .last-text {
    padding: 0 10px 0;
    width: 67.5rem;
    margin-bottom: 60px;
    @media @mobile{
        width: 100%;
        margin-bottom: -5px;
             }
         } 
  .personal{
    border-top: 4px solid #594236; 
    margin-top: 20px;
  }
 
  .personal h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px;
    margin-top: 20px;
    color: #4b719c;
  }
  .about-page h1{
    margin-top: 10px;
    font-size: 2.5rem;
    color: #4b719c;
    padding: 10px 40px;
    text-align: center;
  }
  .about-page p {
    font-size: 1.25rem;
    color: #594236;
  }
  .myteam {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 40px;  
  }
  .pic{
  margin-bottom: 40px;
  margin: 10px;  
  }
  .pic img{
    text-align: center;
    margin-left: 80px; 
  }
  .pic p {
    padding: 40px 0;
    color: #594236;
    font-weight: bold;
    width: 350px;
    margin-left: 60px;
  }
  .pic h3 {
    font-size: 2rem;
    color: #4b719c;
    text-align: center;
  }
  .pic p a{
     color:#594236;
      } 
  

  .shared-samples h1{
      font-size: 2rem;
      
  }
  .top-foods{
      text-align: center;
  }
  .top-foods h2{
     color: #4b719c;
     margin-top: 20px;
     font-size: 2rem;
  }
  .food-types a{
      color:#594236;
      font-size: 1rem;  
  }
  .bottom-content a{
     margin-bottom: 20px; 
     text-align: center;
  }
  .flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #97a1a5;
    color: black;
  }
  
  .flip-card-back {
    background-color: #654F3B;
    color: #EDDFB0;
    transform: rotateY(180deg);
  }
  .flip-card-back h1, h3{
    color:#EDDFB0;
    font-weight: bold;
    padding: 0 20px;
  }
  .flip-card-back p{
      font-size: .90rem;
      padding: 20px;
  }
  .flip-card-back h1{
      font-size: 1.5rem;
     }
   }
 