
.header nav{
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
    background-color:#654F3B;
    padding: 15px 0 0;
    @media @mobile { 
       flex-direction: column;
       justify-content: center;
       align-content: center;
       background-color: transparent;
       a{
       margin-bottom: 10px; 
       }
    }  
}

a{
  font-family: san-serif; 
  font-size: 1.5rem; 
  text-decoration: none; 
  text-align: center;
  color: #EDDFB0; 
  margin-right: 40px;
}
a:hover {
    color: #9C976A;
  }
  
         
     
 
